/* vue页面没有渲染完之前不可见 */
[v-cloak]{
    display:none;
}
/* 页面主体 */
#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index:30;
}
/* 可滑动内容 */
.content{
    width: 100%;
    overflow: hidden;
    flex:1;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.none{
    display: none;
    width: 0;
    height: 0;
}
.hang{
    width: 100%;
    height: auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    text-align:center;
}
.h1{
    font-size: 10em;
}
.h2{
    font-size: 8em;
}
.h3{
    font-size: 6em;
}
.h4{
    font-size: 4em;
}
.h5{
    font-size: 2em;
}
